
<div class="grid _center _justify _spacing">
	<div class="grid _center excerpt-figure-container"><div class="excerpt-figure">
		<img src="https://c1.staticflickr.com/9/8800/28535865936_4dba573287_z.jpg" alt="Área interna de um dos nossos armazéns">
	</div></div>
	<div class="shrink">
		<p>A J&amp;R Armazenagem e Logística dispõe de 15.000 m² de galpões e armazéns de alto padrão tecnológico, caracterizados por estrutura porta pallet ou área livre para armazenagem de grande porte.</p>
	</div>
</div>

<div class="grid _center _justify _spacing">
	<div class="grid _center excerpt-figure-container"><div class="excerpt-figure">
		<img src="https://c1.staticflickr.com/9/8816/27953022143_5235d2f4d2_z.jpg" alt="Suporte de profissionais e máquinas">
	</div></div>
	<div class="shrink">
		<p>Primando pela segurança do trabalho e a qualidade nos serviços prestados, contamos com a perícia do manuseio de profissionais habilitados no ramo e o suporte de maquinário devidamente credenciado para movimentação.</p>
	</div>
</div>

<div class="grid _center _justify _spacing">
	<div class="grid _center excerpt-figure-container"><div class="excerpt-figure">
		<img src="https://c1.staticflickr.com/9/8894/27953021983_f18269dc86_z.jpg" alt="Estrutura para atividades administrativas">
	</div></div>
	<div class="shrink">
		<p>O local também é estruturado para visitas, reuniões e atividades administrativas.</p>
	</div>
</div>

<div class="grid _center _justify _spacing">
	<div class="grid _center excerpt-figure-container"><div class="excerpt-figure">
		<img src="https://c1.staticflickr.com/9/8793/28494114751_882ef6654a_z.jpg" alt="Frota diversificada - caminhão novo">
	</div></div>
	<div class="shrink">
		<p>O grupo J&amp;R dispõe de frota diversificada de veículos, ligada diretamente às demandas de entrada e saída de materiais de nossos clientes.</p>
	</div>
</div>