<header class="wrapper"><h2>Veja mais imagens</h2></header>
<div class="gallery-container grid _center _spacing">
	<div class="gallery-item">
		<img src="https://c2.staticflickr.com/8/7596/27954898494_c05c8ae045_q.jpg" alt="">
	</div>
	<div class="gallery-item">
		<img src="https://c1.staticflickr.com/9/8668/27951320224_fd8d896050_q.jpg" alt="">
	</div>
	<div class="gallery-item">
		<img src="https://c1.staticflickr.com/9/8230/28535864696_7c10e972e3_q.jpg" alt="">
	</div>
	<div class="gallery-item">
		<img src="https://c1.staticflickr.com/9/8706/28535864866_f29b4d0e66_q.jpg" alt="">
	</div>
	<div class="gallery-item">
		<img src="https://c1.staticflickr.com/9/8634/27953021803_20f787c381_q.jpg" alt="">
	</div>
	<div class="gallery-item">
		<img src="https://c2.staticflickr.com/8/7600/28535865296_654b776486_q.jpg" alt="">
	</div>
</div>