<div class="wrapper">
	{% include share/widget.html position='Header' %}
</div>
<div class="grid _center wrapper">
	<header class="hero-header">
		<h1>Aluguel de galpões e armazéns</h1>
		<h2>Com prazer, anunciamos este novo serviço para melhorar ainda mais a logística de sua empresa.</h2>
	</header>
	<aside class="call-to-action">
		<p><strong>Ligue agora!</strong></p>
		<p>{% include tel-link.html phone='+551532353848' label='(15) 3235.3848 *' class='call-to-action-link 1' tip='Toque para fazer uma chamada.' %}</p>
	</aside>
</div>
<div class="embed-container">
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/_nO1uCys64w?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<footer class="grid _center wrapper">
	<ul>
		<li>Espaço profissional e com suporte de profissionais e máquinas;</li>
		<li>Armazene próximo a São Paulo, fora do trânsito pesado;</li>
		<li>Administre e faça reuniões no local;</li>
		<li>Segurança de uma empresa confiável e credenciada.</li>
	</ul>
	<aside class="call-to-action footer-call-to-action">
		<p><strong>Ligue agora!</strong></p>
		<p>{% include tel-link.html phone='+551532353848' label='(15) 3235.3848 *' class='call-to-action-link 1' tip='Toque para fazer uma chamada.' %}</p>
	</aside>
</footer>