<div class="grid _center wrapper">
	<header class="hero-header">
		<h1>Aluguel de galpões e armazéns</h1>
		<h2>Com prazer, anunciamos este novo serviço para melhorar ainda mais a logística de sua empresa.</h2>
	</header>
	<aside class="call-to-action">
		<p><strong>Ligue agora!</strong></p>
		<p><a href="callto:+551532353848">(15) 3235.3848</a></p>
	</aside>
</div>
<div class="embed-container">
	<iframe src="https://player.vimeo.com/video/134754627?color=D41B18&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<footer class="hero-footer wrapper">
	<ul>
		<li>Espaço profissional e com suporte de profissionais e máquinas;</li>
		<li>Armazene próximo a São Paulo, fora do trânsito pesado;</li>
		<li>Administre e faça reuniões no local;</li>
		<li>Segurança de uma empresa confiável e credenciada.</li>
	</ul>
</footer>