<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><strong>Matriz</strong></li>
          <li>Av. Victor Andrews, 3210</li>
          <li>Éden, Sorocaba</li>
          <li>Telefone:
            {% include tel-link.html phone='+551532353848' label='(15) 3235.3848' class='rodape' %}
          </li>
        </ul>
        <ul class="contact-list">
          <li><strong>Filial</strong></li>
          <li>Av. Luiz Rink, 504</li>
          <li>Mutinga, Osasco</li>
          <li>Telefone:
            {% include tel-link.html phone='+551126928519' label='(11) 2692.8519' class='rodape' %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
