
.section-hero

	.hero-header
		flex-basis: 60%

		h2
			font-size: 1.2em

		+media-query($on-palm)
			flex-basis: auto

	.embed-container
		margin: $spacing-unit auto

	.call-to-action
		width: 16em
		text-align: center
		margin: $spacing-unit / 2

		strong
			font-size: 1.6em

		+media-query($on-palm)
			display: flex
			width: 100%
			align-items: center
			justify-content: space-around
			flex-wrap: wrap
			margin-bottom: $spacing-unit

			> *
				display: inline-block

	.teltip
		width: 100%
